<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enpassio.reactiveway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redirecturi"
                    android:scheme="com.enpassio.reactiveway" />
            </intent-filter>
        </activity>
        <activity android:name=".operator.ObservablesAndObserversActivity" />
        <activity android:name=".operator.SingleObservableSingleObserverActivity" />
        <activity android:name=".operator.MaybeObservableMaybeObserverActivity" />
        <activity android:name=".operator.CompletableObservableCompletableObserverActivity" />
        <activity android:name=".operator.FlowableObservableSingleObserverActivity" />
        <activity android:name=".operator.MapOperatorActivity" />
        <activity android:name=".operator.FlatMapActivity" />
        <activity android:name=".operator.ConcatMapOperatorActivity" />
        <activity android:name=".operator.SwitchMapOperatorActivity" />
        <activity android:name=".operator.BufferOperatorActivity" />
        <activity android:name=".operator.DebounceOperatorActivity"></activity>
        <activity android:name=".operator.ConcatOperatorExample" />
        <activity android:name=".operator.MergeOperatorExample" />
        <activity android:name=".operator.MathematicalOperatorExample" />
        <activity android:name=".operator.MathematicalOperationOnCustomDataTypes" />
        <activity android:name=".operator.OperatorsMainActivity" />
    </application>

</manifest>