<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enpassio.reactiveway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redirecturi"
                    android:scheme="com.enpassio.reactiveway" />
            </intent-filter>
        </activity>
        <activity android:name=".operators.ObservablesAndObserversActivity" />
        <activity android:name=".operators.SingleObservableSingleObserverActivity" />
        <activity android:name=".operators.MaybeObservableMaybeObserverActivity" />
        <activity android:name=".operators.CompletableObservableCompletableObserverActivity" />
        <activity android:name=".operators.FlowableObservableSingleObserverActivity" />
        <activity android:name=".operators.MapOperatorActivity" />
        <activity android:name=".operators.FlatMapActivity" />
        <activity android:name=".operators.ConcatMapOperatorActivity" />
        <activity android:name=".operators.SwitchMapOperatorActivity" />
        <activity android:name=".operators.BufferOperatorActivity" />
        <activity android:name=".operators.DebounceOperatorActivity"></activity>
        <activity android:name=".operators.ConcatOperatorExample" />
        <activity android:name=".operators.MergeOperatorExample" />
        <activity android:name=".operators.MathematicalOperatorExample" />
        <activity android:name=".operators.MathematicalOperationOnCustomDataTypes" />
        <activity android:name=".operators.OperatorsMainActivity" />
        <activity android:name=".flightapp.view.FlightSearchActivity" />
        <activity android:name=".instantsearch.view.InstantSearchActivity" />
        <activity android:name=".instantsearch.view.LocalSearchActivity" />
        <activity android:name=".instantsearch.view.RemoteSearchActivity" />
        <activity android:name=".notesapp.view.NotesActivity" />
    </application>

</manifest>